<h3 id="requestMetrics" jhiTranslate="metrics.jvm.http.title">Requêtes HTTP (temps en millisecondes)</h3>

@let requestMetricsRef = requestMetrics();
@if (!updating() && requestMetricsRef) {
  <table class="table table-striped" aria-describedby="requestMetrics">
    <thead>
      <tr>
        <th scope="col" jhiTranslate="metrics.jvm.http.table.code">Code</th>
        <th scope="col" jhiTranslate="metrics.jvm.http.table.count">Total</th>
        <th scope="col" class="text-end" jhiTranslate="metrics.jvm.http.table.mean">Médian</th>
        <th scope="col" class="text-end" jhiTranslate="metrics.jvm.http.table.max">Max</th>
      </tr>
    </thead>
    <tbody>
      @for (entry of requestMetricsRef['percode'] | keyvalue; track entry.key) {
        <tr>
          <td>{{ entry.key }}</td>
          <td>
            <jhi-progress-bar [max]="requestMetricsRef['all'].count" [value]="entry.value.count" [striped]="true" type="success">
              <span class="text-xs text-white px-2">{{ entry.value.count }}</span>
            </jhi-progress-bar>
          </td>
          <td class="text-end">
            {{ filterNaN(entry.value.mean) | number: '1.0-2' }}
          </td>
          <td class="text-end">{{ entry.value.max | number: '1.0-2' }}</td>
        </tr>
      }
    </tbody>
  </table>
}
