<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-delivery-heading" data-cy="DeliveryCreateUpdateHeading" jhiTranslate="deliveryApp.delivery.home.createOrEditLabel">
        Créer ou éditer un Delivery
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="deliveryApp.delivery.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let deliveryDateRef = editForm.get('deliveryDate')!;
        <div class="mb-3">
          <label class="form-label" for="field_deliveryDate" jhiTranslate="deliveryApp.delivery.deliveryDate">Delivery Date</label>
          <input
            id="field_deliveryDate"
            data-cy="deliveryDate"
            type="date"
            class="form-control"
            name="deliveryDate"
            formControlName="deliveryDate"
          />
          @if (deliveryDateRef.invalid && (deliveryDateRef.dirty || deliveryDateRef.touched)) {
            <div>
              @if (editForm.get('deliveryDate')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status" jhiTranslate="deliveryApp.delivery.status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'deliveryApp.DeliveryStatus.null' | translate }}</option>
            @for (deliveryStatus of deliveryStatusValues; track $index) {
              <option [value]="deliveryStatus">{{ 'deliveryApp.DeliveryStatus.' + deliveryStatus | translate }}</option>
            }
          </select>
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalAmount" jhiTranslate="deliveryApp.delivery.totalAmount">Total Amount</label>
          <input
            type="number"
            class="form-control"
            name="totalAmount"
            id="field_totalAmount"
            data-cy="totalAmount"
            formControlName="totalAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_paidAmount" jhiTranslate="deliveryApp.delivery.paidAmount">Paid Amount</label>
          <input
            type="number"
            class="form-control"
            name="paidAmount"
            id="field_paidAmount"
            data-cy="paidAmount"
            formControlName="paidAmount"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="deliveryApp.delivery.notes">Notes</label>
          <textarea class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tenant" jhiTranslate="deliveryApp.delivery.tenant">Tenant</label>
          <select
            class="form-control"
            id="field_tenant"
            data-cy="tenant"
            name="tenant"
            formControlName="tenant"
            [compareWith]="compareTenant"
          >
            @if (!editForm.get('tenant')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (tenantOption of tenantsSharedCollection(); track $index) {
              <option [ngValue]="tenantOption">{{ tenantOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['tenant'])!.invalid && (editForm.get(['tenant'])!.dirty || editForm.get(['tenant'])!.touched)) {
          <div>
            @if (editForm.get(['tenant'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_customer" jhiTranslate="deliveryApp.delivery.customer">Customer</label>
          <select
            class="form-control"
            id="field_customer"
            data-cy="customer"
            name="customer"
            formControlName="customer"
            [compareWith]="compareCustomer"
          >
            @if (!editForm.get('customer')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (customerOption of customersSharedCollection(); track $index) {
              <option [ngValue]="customerOption">{{ customerOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['customer'])!.invalid && (editForm.get(['customer'])!.dirty || editForm.get(['customer'])!.touched)) {
          <div>
            @if (editForm.get(['customer'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_driver" jhiTranslate="deliveryApp.delivery.driver">Driver</label>
          <select
            class="form-control"
            id="field_driver"
            data-cy="driver"
            name="driver"
            formControlName="driver"
            [compareWith]="compareDriver"
          >
            @if (!editForm.get('driver')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (driverOption of driversSharedCollection(); track $index) {
              <option [ngValue]="driverOption">{{ driverOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['driver'])!.invalid && (editForm.get(['driver'])!.dirty || editForm.get(['driver'])!.touched)) {
          <div>
            @if (editForm.get(['driver'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
