<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-delivery-item-heading"
        data-cy="DeliveryItemCreateUpdateHeading"
        jhiTranslate="deliveryApp.deliveryItem.home.createOrEditLabel"
      >
        Créer ou éditer un Delivery Item
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="deliveryApp.deliveryItem.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let quantityRef = editForm.get('quantity')!;
        <div class="mb-3">
          <label class="form-label" for="field_quantity" jhiTranslate="deliveryApp.deliveryItem.quantity">Quantity</label>
          <input type="number" class="form-control" name="quantity" id="field_quantity" data-cy="quantity" formControlName="quantity" />
          @if (quantityRef.invalid && (quantityRef.dirty || quantityRef.touched)) {
            <div>
              @if (editForm.get('quantity')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('quantity')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        @let unitPriceRef = editForm.get('unitPrice')!;
        <div class="mb-3">
          <label class="form-label" for="field_unitPrice" jhiTranslate="deliveryApp.deliveryItem.unitPrice">Unit Price</label>
          <input type="number" class="form-control" name="unitPrice" id="field_unitPrice" data-cy="unitPrice" formControlName="unitPrice" />
          @if (unitPriceRef.invalid && (unitPriceRef.dirty || unitPriceRef.touched)) {
            <div>
              @if (editForm.get('unitPrice')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('unitPrice')?.errors?.number"
                jhiTranslate="entity.validation.number"
                >Ce champ doit être un nombre.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_totalPrice" jhiTranslate="deliveryApp.deliveryItem.totalPrice">Total Price</label>
          <input
            type="number"
            class="form-control"
            name="totalPrice"
            id="field_totalPrice"
            data-cy="totalPrice"
            formControlName="totalPrice"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_delivery" jhiTranslate="deliveryApp.deliveryItem.delivery">Delivery</label>
          <select
            class="form-control"
            id="field_delivery"
            data-cy="delivery"
            name="delivery"
            formControlName="delivery"
            [compareWith]="compareDelivery"
          >
            @if (!editForm.get('delivery')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (deliveryOption of deliveriesSharedCollection(); track $index) {
              <option [ngValue]="deliveryOption">{{ deliveryOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['delivery'])!.invalid && (editForm.get(['delivery'])!.dirty || editForm.get(['delivery'])!.touched)) {
          <div>
            @if (editForm.get(['delivery'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_product" jhiTranslate="deliveryApp.deliveryItem.product">Product</label>
          <select
            class="form-control"
            id="field_product"
            data-cy="product"
            name="product"
            formControlName="product"
            [compareWith]="compareProduct"
          >
            @if (!editForm.get('product')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (productOption of productsSharedCollection(); track $index) {
              <option [ngValue]="productOption">{{ productOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['product'])!.invalid && (editForm.get(['product'])!.dirty || editForm.get(['product'])!.touched)) {
          <div>
            @if (editForm.get(['product'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
