<div class="layout-container">
  <app-header (menuToggle)="toggleSidenav()"></app-header>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #sidenav
      [mode]="isMobile() ? 'over' : 'side'"
      [opened]="isMobile() ? false : sidenavOpened()"
      [fixedInViewport]="true"
      [fixedTopGap]="64"
      class="sidenav"
    >
      <app-sidebar (navigationClick)="closeSidenavOnMobile()"></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <div class="content-wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
