<div>
  <h2 id="page-heading" data-cy="TenantSettingsHeading">
    <span jhiTranslate="deliveryApp.tenantSettings.home.title">TenantSettings</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="deliveryApp.tenantSettings.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tenant-settings"
        [routerLink]="['/tenant-settings/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="deliveryApp.tenantSettings.home.createLabel">Créer un nouveau Tenant Settings</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (tenantSettings().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="deliveryApp.tenantSettings.home.notFound">Aucun Tenant Settings trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="currency">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.tenantSettings.currency">Currency</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="timezone">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.tenantSettings.timezone">Timezone</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="dateFormat">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.tenantSettings.dateFormat">Date Format</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="language">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.tenantSettings.language">Language</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="tenant.id">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.tenantSettings.tenant">Tenant</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (tenantSettings of tenantSettings(); track trackId(tenantSettings)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/tenant-settings', tenantSettings.id, 'view']">{{ tenantSettings.id }}</a>
              </td>
              <td>{{ tenantSettings.currency }}</td>
              <td>{{ tenantSettings.timezone }}</td>
              <td>{{ tenantSettings.dateFormat }}</td>
              <td>{{ tenantSettings.language }}</td>
              <td>
                @if (tenantSettings.tenant) {
                  <div>
                    <a [routerLink]="['/tenant', tenantSettings.tenant.id, 'view']">{{ tenantSettings.tenant.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a
                    [routerLink]="['/tenant-settings', tenantSettings.id, 'view']"
                    class="btn btn-info btn-sm"
                    data-cy="entityDetailsButton"
                  >
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a
                    [routerLink]="['/tenant-settings', tenantSettings.id, 'edit']"
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(tenantSettings)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (tenantSettings().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <jhi-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
