<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-vehicle-heading" data-cy="VehicleCreateUpdateHeading" jhiTranslate="deliveryApp.vehicle.home.createOrEditLabel">
        Créer ou éditer un Vehicle
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="deliveryApp.vehicle.id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let codeRef = editForm.get('code')!;
        <div class="mb-3">
          <label class="form-label" for="field_code" jhiTranslate="deliveryApp.vehicle.code">Code</label>
          <input type="text" class="form-control" name="code" id="field_code" data-cy="code" formControlName="code" />
          @if (codeRef.invalid && (codeRef.dirty || codeRef.touched)) {
            <div>
              @if (editForm.get('code')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('code')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >Ce champ doit faire au maximum 20 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let nameRef = editForm.get('name')!;
        <div class="mb-3">
          <label class="form-label" for="field_name" jhiTranslate="deliveryApp.vehicle.name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          @if (nameRef.invalid && (nameRef.dirty || nameRef.touched)) {
            <div>
              @if (editForm.get('name')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
              @if (editForm.get('name')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '100' }"
                  >Ce champ doit faire au maximum 100 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let typeRef = editForm.get('type')!;
        <div class="mb-3">
          <label class="form-label" for="field_type" jhiTranslate="deliveryApp.vehicle.type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'deliveryApp.VehicleType.null' | translate }}</option>
            @for (vehicleType of vehicleTypeValues; track $index) {
              <option [value]="vehicleType">{{ 'deliveryApp.VehicleType.' + vehicleType | translate }}</option>
            }
          </select>
          @if (typeRef.invalid && (typeRef.dirty || typeRef.touched)) {
            <div>
              @if (editForm.get('type')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        @let brandRef = editForm.get('brand')!;
        <div class="mb-3">
          <label class="form-label" for="field_brand" jhiTranslate="deliveryApp.vehicle.brand">Brand</label>
          <input type="text" class="form-control" name="brand" id="field_brand" data-cy="brand" formControlName="brand" />
          @if (brandRef.invalid && (brandRef.dirty || brandRef.touched)) {
            <div>
              @if (editForm.get('brand')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Ce champ doit faire au maximum 50 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let modelRef = editForm.get('model')!;
        <div class="mb-3">
          <label class="form-label" for="field_model" jhiTranslate="deliveryApp.vehicle.model">Model</label>
          <input type="text" class="form-control" name="model" id="field_model" data-cy="model" formControlName="model" />
          @if (modelRef.invalid && (modelRef.dirty || modelRef.touched)) {
            <div>
              @if (editForm.get('model')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '50' }"
                  >Ce champ doit faire au maximum 50 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let registrationNumberRef = editForm.get('registrationNumber')!;
        <div class="mb-3">
          <label class="form-label" for="field_registrationNumber" jhiTranslate="deliveryApp.vehicle.registrationNumber"
            >Registration Number</label
          >
          <input
            type="text"
            class="form-control"
            name="registrationNumber"
            id="field_registrationNumber"
            data-cy="registrationNumber"
            formControlName="registrationNumber"
          />
          @if (registrationNumberRef.invalid && (registrationNumberRef.dirty || registrationNumberRef.touched)) {
            <div>
              @if (editForm.get('registrationNumber')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >Ce champ doit faire au maximum 20 caractères.</small
                >
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_year" jhiTranslate="deliveryApp.vehicle.year">Year</label>
          <input type="number" class="form-control" name="year" id="field_year" data-cy="year" formControlName="year" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_capacity" jhiTranslate="deliveryApp.vehicle.capacity">Capacity</label>
          <input type="number" class="form-control" name="capacity" id="field_capacity" data-cy="capacity" formControlName="capacity" />
        </div>

        @let fuelTypeRef = editForm.get('fuelType')!;
        <div class="mb-3">
          <label class="form-label" for="field_fuelType" jhiTranslate="deliveryApp.vehicle.fuelType">Fuel Type</label>
          <input type="text" class="form-control" name="fuelType" id="field_fuelType" data-cy="fuelType" formControlName="fuelType" />
          @if (fuelTypeRef.invalid && (fuelTypeRef.dirty || fuelTypeRef.touched)) {
            <div>
              @if (editForm.get('fuelType')?.errors?.maxlength) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.maxlength" [translateValues]="{ max: '20' }"
                  >Ce champ doit faire au maximum 20 caractères.</small
                >
              }
            </div>
          }
        </div>

        @let activeRef = editForm.get('active')!;
        <div class="mb-3">
          <label class="form-label" for="field_active" jhiTranslate="deliveryApp.vehicle.active">Active</label>
          <input type="checkbox" class="form-check" name="active" id="field_active" data-cy="active" formControlName="active" />
          @if (activeRef.invalid && (activeRef.dirty || activeRef.touched)) {
            <div>
              @if (editForm.get('active')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_notes" jhiTranslate="deliveryApp.vehicle.notes">Notes</label>
          <textarea class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes"></textarea>
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_tenant" jhiTranslate="deliveryApp.vehicle.tenant">Tenant</label>
          <select
            class="form-control"
            id="field_tenant"
            data-cy="tenant"
            name="tenant"
            formControlName="tenant"
            [compareWith]="compareTenant"
          >
            @if (!editForm.get('tenant')!.value) {
              <option [ngValue]="null" selected></option>
            }
            @for (tenantOption of tenantsSharedCollection(); track $index) {
              <option [ngValue]="tenantOption">{{ tenantOption.id }}</option>
            }
          </select>
        </div>
        @if (editForm.get(['tenant'])!.invalid && (editForm.get(['tenant'])!.dirty || editForm.get(['tenant'])!.touched)) {
          <div>
            @if (editForm.get(['tenant'])?.errors?.required) {
              <small class="form-text text-danger" jhiTranslate="entity.validation.required">Ce champ est obligatoire.</small>
            }
          </div>
        }
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Annuler</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Sauvegarder</span>
        </button>
      </div>
    </form>
  </div>
</div>
