<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (returnItem(); as returnItemRef) {
      <div>
        <h2 data-cy="returnItemDetailsHeading"><span jhiTranslate="deliveryApp.returnItem.detail.title">Return Item</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ returnItemRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="deliveryApp.returnItem.quantity">Quantity</span></dt>
          <dd>
            <span>{{ returnItemRef.quantity }}</span>
          </dd>
          <dt><span jhiTranslate="deliveryApp.returnItem.unitPrice">Unit Price</span></dt>
          <dd>
            <span>{{ returnItemRef.unitPrice }}</span>
          </dd>
          <dt><span jhiTranslate="deliveryApp.returnItem.productReturn">Product Return</span></dt>
          <dd>
            @if (returnItem()!.productReturn) {
              <div>
                <a [routerLink]="['/product-return', returnItem()!.productReturn?.id, 'view']">{{ returnItemRef.productReturn?.id }}</a>
              </div>
            }
          </dd>
          <dt><span jhiTranslate="deliveryApp.returnItem.product">Product</span></dt>
          <dd>
            @if (returnItem()!.product) {
              <div>
                <a [routerLink]="['/product', returnItem()!.product?.id, 'view']">{{ returnItemRef.product?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/return-item', returnItemRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
