<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (priceHistory(); as priceHistoryRef) {
      <div>
        <h2 data-cy="priceHistoryDetailsHeading"><span jhiTranslate="deliveryApp.priceHistory.detail.title">Price History</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ priceHistoryRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="deliveryApp.priceHistory.price">Price</span></dt>
          <dd>
            <span>{{ priceHistoryRef.price }}</span>
          </dd>
          <dt><span jhiTranslate="deliveryApp.priceHistory.effectiveDate">Effective Date</span></dt>
          <dd>
            <span>{{ priceHistoryRef.effectiveDate | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="deliveryApp.priceHistory.endDate">End Date</span></dt>
          <dd>
            @if (priceHistoryRef.endDate) {
              <span>{{ priceHistoryRef.endDate | formatMediumDate }}</span>
            } @else {
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
                <fa-icon icon="check-circle" class="mr-1" />
                <span jhiTranslate="deliveryApp.priceHistory.active">Active</span>
              </span>
            }
          </dd>
          <dt><span jhiTranslate="deliveryApp.priceHistory.product">Product</span></dt>
          <dd>
            @if (priceHistory()!.product) {
              <div>
                <a [routerLink]="['/product', priceHistory()!.product?.id, 'view']">{{ priceHistoryRef.product?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left" />&nbsp;<span jhiTranslate="entity.action.back">Retour</span>
        </button>

        <button type="button" [routerLink]="['/price-history', priceHistoryRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt" />&nbsp;<span jhiTranslate="entity.action.edit">Editer</span>
        </button>
      </div>
    }
  </div>
</div>
