<div>
  <h2 id="page-heading" data-cy="VehicleHeading">
    <span jhiTranslate="deliveryApp.vehicle.home.title">Vehicles</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading()">
        <fa-icon icon="sync" [animation]="isLoading() ? 'spin' : undefined" />
        <span jhiTranslate="deliveryApp.vehicle.home.refreshListLabel">Actualiser la liste</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-vehicle"
        [routerLink]="['/vehicle/new']"
      >
        <fa-icon icon="plus" />
        <span jhiTranslate="deliveryApp.vehicle.home.createLabel">Créer un nouveau Vehicle</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error />

  <jhi-alert />

  <jhi-filter [filters]="filters" />

  @if (vehicles().length === 0) {
    <div class="alert alert-warning" id="no-result">
      <span jhiTranslate="deliveryApp.vehicle.home.notFound">Aucun Vehicle trouvé</span>
    </div>
  } @else {
    <div class="table-responsive table-entities" id="entities">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(sortState)]="sortState" (sortChange)="navigateToWithComponentValues($event)">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="code">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.code">Code</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="name">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.name">Name</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="type">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.type">Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="brand">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.brand">Brand</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="model">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.model">Model</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="registrationNumber">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.registrationNumber">Registration Number</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="year">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.year">Year</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="capacity">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.capacity">Capacity</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="fuelType">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.fuelType">Fuel Type</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="active">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.active">Active</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="notes">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.notes">Notes</span>

                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col" jhiSortBy="tenant.id">
              <div class="d-flex">
                <span jhiTranslate="deliveryApp.vehicle.tenant">Tenant</span>
                <fa-icon class="p-1" icon="sort" />
              </div>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          @for (vehicle of vehicles(); track trackId(vehicle)) {
            <tr data-cy="entityTable">
              <td>
                <a [routerLink]="['/vehicle', vehicle.id, 'view']">{{ vehicle.id }}</a>
              </td>
              <td>{{ vehicle.code }}</td>
              <td>{{ vehicle.name }}</td>
              <td [jhiTranslate]="'deliveryApp.VehicleType.' + (vehicle.type ?? 'null')">
                {{ { null: '', CAR: 'CAR', MOTO: 'MOTO', TRUCK: 'TRUCK', VAN: 'VAN' }[vehicle.type ?? 'null'] }}
              </td>
              <td>{{ vehicle.brand }}</td>
              <td>{{ vehicle.model }}</td>
              <td>{{ vehicle.registrationNumber }}</td>
              <td>{{ vehicle.year }}</td>
              <td>{{ vehicle.capacity }}</td>
              <td>{{ vehicle.fuelType }}</td>
              <td>{{ vehicle.active }}</td>
              <td>{{ vehicle.notes }}</td>
              <td>
                @if (vehicle.tenant) {
                  <div>
                    <a [routerLink]="['/tenant', vehicle.tenant.id, 'view']">{{ vehicle.tenant.id }}</a>
                  </div>
                }
              </td>
              <td class="text-end">
                <div class="btn-group">
                  <a [routerLink]="['/vehicle', vehicle.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                    <fa-icon icon="eye" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Voir</span>
                  </a>

                  <a [routerLink]="['/vehicle', vehicle.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                    <fa-icon icon="pencil-alt" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Editer</span>
                  </a>

                  <button type="submit" (click)="delete(vehicle)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                    <fa-icon icon="times" />
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Supprimer</span>
                  </button>
                </div>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  }
  @if (vehicles().length > 0) {
    <div>
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page(), totalItems: totalItems(), itemsPerPage: itemsPerPage() }" />
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems()"
          [page]="page()"
          [pageSize]="itemsPerPage()"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        />
      </div>
    </div>
  }
</div>
